<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/static/fav.svg" />
  <link rel="stylesheet" href="/static/page.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/htmx.org@1.9.5"
    integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
    crossorigin="anonymous"></script>
  <title> {i{ or .Title "k8s管理工具" }i}</title>
  <script>
    function getCookie(name) {
      const value = document.cookie
        .split("; ")
        .find((row) => row.startsWith(name + "="))
        ?.split("=")[1];
      return value
    }
  </script>
</head>

<body hx-boost="true">
  <div class="app">
    {i{ if .User }i}
    <a href="/profile"> {i{ .User }i} </a>
    {i{ else }i}
    <div id="profile" hx-get="/login/github/init" hx-swap="outerHTML" hx-trigger="load"></div>
    {i{ end }i}
    <div>
      <a href="https://github.com/datewu/set-img" target="_blank">
        <img src="/static/fav.svg" class="logo" alt="logo" />
      </a>
    </div>
    <h1>kubernetes部署工具</h1>
    <div>
      <div class="url-btns">
        <p id="url">https://set-img.deoops.com/api/v1/auth/setimg</p>
        <div>
          <button hx-on="click: copyPastboard(this)">copy</button>
          <button hx-on="click: toogle(this)">more</button>
        </div>
      </div>
      <div id="detail">
        <pre>
curl -XPOST https://set-img.deoops.com/api/v1/auth/setimg \
-H 'Authorization: $TOKEN'                                \
--data-binary                                             \ 
'{"container_name":"CHANGE-ME", "kind":"CHANGE-deploy/sts",
"img":"${{ steps.prep.outputs.tags }}",
"name":"CHANGE-ME","namespace":"CHANGE-ME"}'
          </pre>
      </div>
    </div>
  </div>
  <footer>
    <div hx-get="/version" hx-swap="outerHTML" hx-trigger="load">version</div>
  </footer>

  <script>
    function copyPastboard(t) {
      // Get the text field
      var copyText = document.getElementById("url");
      // Copy the text inside the text field
      navigator.clipboard.writeText(copyText.innerText);
      t.innerText = 'copied!'
      t.blur()
    }

    function toogle(t) {
      var detail = document.getElementById("detail");
      if (t.innerText === "less") {
        t.innerText = "more";
        detail.style.display = "none";
      } else {
        detail.style.display = "block";
        t.innerText = "less";
      }
      t.blur();
    }
  </script>
</body>

</html>