<table>
  <tr>
    <th colspan="5">{{ or .Description "deployments" }}</th>
  </tr>
  <tr>
    <th>Name</th>
    <th>Replicas</th>
    <th>Age</th>
    <th>Container Name</th>
    <th>Image Tag</th>
  </tr>
  {{ $ns := .Namespace}}
  {{ $kind := .Kind}}
  {{ range .Data}}
  <tr>
    {{ $rowspan := len .Containers }}
    <td rowspan="{{ $rowspan }}">{{ .Name }}</td>
    <td rowspan="{{ $rowspan }}">{{ .Replicas }}</td>
    <td rowspan="{{ $rowspan }}">{{ .Age }}</td>
    {{ $name := .Name}}
    {{ range $index, $element := .Containers }}
    {{if gt $index 0}}{{break}}{{end}}
    <td>{{ .Name}}</td>
    <td hx-put="/my/update/resource" hx-trigger="change" hx-include="this" hx-swap="none">
      <input type="hidden" name="ns" value="{{ $ns }}">
      <input type="hidden" name="kind" value="{{ $kind }}">
      <input type="hidden" name="name" value="{{ $name }}">
      <input type="hidden" name="cname" value="{{ .Name }}">
      <input required type="text" name="image" value="{{ .Image }}" />
    </td>
    {{ end }}
  </tr>

  {{ range $index, $element := .Containers }}
  {{if eq $index 0}}{{continue}}{{end}}
  <tr>
    <td>{{ .Name}}</td>
    <td hx-put="/my/update/resource" hx-trigger="change" hx-include="this" hx-swap="none">
      <input type="hidden" name="ns" value="{{ $ns }}">
      <input type="hidden" name="kind" value="{{ $kind }}">
      <input type="hidden" name="name" value="{{ $name }}">
      <input type="hidden" name="cname" value="{{ .Name }}">
      <input required type="text" name="image" value="{{ .Image }}" />
    </td>
  </tr>
  {{ end }}




  {{ else }}
  <tr>
    <td>no data</td>
    {{ end}}
  </tr>
</table>